install pip (for debian/ubuntu: sudo apt install python3-pip)

in command line:
1. python -m venv {name_of_virtual_env} [python -m venv myenv]
2. activate venv [venv/Scripts/activate on windows powershell, Source venv/bin/activate on linux]

pip install django

You sent
pip install django-crispy-forms
pip install crispy-bootstrap5
pip install django-filter

pip install scikit-learn
pip install numpy


django manage.py runserver (will run at port 8000 default but specify port if necessary like 8001)

install necessary libraries