{% extends 'base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-success text-white">
                <h5 class="card-title">Password Changed</h5>
            </div>
            <div class="card-body">
                <p>Your password has been successfully changed.</p>
                <form method="post" action="{% url 'logout' %}" class="m-0 p-0">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-right"></i> Done </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}